@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Anek Devanagari', sans-serif;
  scroll-margin-top: 72px;
  scroll-behavior: smooth;
}